[Desktop Entry]
Type=Application
Name=Mega Man X6 Recompiled
Comment=Static recompilation of Mega Man X6
Exec=mmx6-runtime
Icon=io.github.mstan.MegaManX6Recomp
Categories=Game;
Terminal=false
